flows.json
[{"id":"83758575f803931d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c2ec038ee9ff191e","type":"mqtt in","z":"83758575f803931d","name":"","topic":"LATIDO","qos":"2","datatype":"utf8","broker":"b3fc9474146ca8c1","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":80,"wires":[["7bcd64077b65b4c1","10e205b29645ed19"]]},{"id":"7bcd64077b65b4c1","type":"json","z":"83758575f803931d","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":80,"wires":[["454c6d981f7e9475","c94c4004b94f9c34"]]},{"id":"454c6d981f7e9475","type":"function","z":"83758575f803931d","name":"Latidos","func":"msg.payload= msg.payload.latidos;\nmsg.topic = \"LATIDO\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["c67bcecf64c0e0dc","a09e0525da7f6f36"]]},{"id":"c94c4004b94f9c34","type":"function","z":"83758575f803931d","name":"Query","func":"msg.topic = \"INSERT INTO estado (LATIDO) VALUES ('\" + msg.payload.latidos + \"');\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["8fe7ba07330545ac"]]},{"id":"c67bcecf64c0e0dc","type":"ui_chart","z":"83758575f803931d","name":"","group":"97f2cd14cb5a762d","order":0,"width":"0","height":"0","label":"Historico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":600,"y":80,"wires":[[]]},{"id":"8fe7ba07330545ac","type":"mysql","z":"83758575f803931d","mydb":"8e122adfadd4b174","name":"Latidos","x":580,"y":180,"wires":[[]]},{"id":"a09e0525da7f6f36","type":"debug","z":"83758575f803931d","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":140,"wires":[]},{"id":"10e205b29645ed19","type":"debug","z":"83758575f803931d","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":220,"wires":[]},{"id":"f726f731c8c0bcdd","type":"ui_button","z":"83758575f803931d","name":"","group":"ec1be6829a8e0770","order":1,"width":0,"height":0,"passthru":false,"label":"consultar DB","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":380,"wires":[["c35dff620ef8b78b"]]},{"id":"c35dff620ef8b78b","type":"function","z":"83758575f803931d","name":"function 1","func":"msg.topic = \"SELECT * FROM estado\"; \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":380,"wires":[["197feb2d1de76b5d"]]},{"id":"197feb2d1de76b5d","type":"mysql","z":"83758575f803931d","mydb":"8e122adfadd4b174","name":"Latidos","x":460,"y":380,"wires":[["3f685a6d7fe4f6f0"]]},{"id":"3f685a6d7fe4f6f0","type":"json","z":"83758575f803931d","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":380,"wires":[["c504874d9de24be8","f8a68004cf106813"]]},{"id":"c504874d9de24be8","type":"ui_template","z":"83758575f803931d","group":"ec1be6829a8e0770","name":"","order":2,"width":"0","height":"0","format":"<<!--<div ng-bind-html=\"msg.payload\"></div>  Esto mostrara los arrays, haciendolo menos estetico-->\n    <table border=\"1\" style=\"width:100px; margin-left:auto;margin-right:auto\">\n        <tr>\n            <th>ID</th>\n            <th>Fecha</th>\n            <th>Distancia</th>\n        </tr>\n        <tr ng-repeat=\"dato in msg.payload\">\n            <td> {{dato.id_status}}</td>\n            <td>{{dato.fecha}}</td>\n            <td>{{dato.LATIDO}}</td>\n        </tr>\n    </table>\n<style>\n    table{\n    backgrond-color:white;\n    width: 100%;\n    text-align:left;\n    border-collapse: collapse;\n    }\n    th, td{\n    padding: 10px;\n    }\n    tr:nth-child(even){\n    background-color:#D3D3D3;\n    }\n    tr:hover td{\n    backgrond-color:darkgray;\n    color:gray;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":780,"y":380,"wires":[[]]},{"id":"f8a68004cf106813","type":"debug","z":"83758575f803931d","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":480,"wires":[]},{"id":"b3fc9474146ca8c1","type":"mqtt-broker","name":"","broker":"52.57.183.81","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"97f2cd14cb5a762d","type":"ui_group","name":"Frecuencia Cardiaca","tab":"39fb310f1cc7167b","order":1,"disp":true,"width":"9","collapse":false,"className":""},{"id":"8e122adfadd4b174","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"Proyecto","tz":"","charset":"UTF8"},{"id":"ec1be6829a8e0770","type":"ui_group","name":"BASE DE DATOS","tab":"39fb310f1cc7167b","order":2,"disp":true,"width":"10","collapse":false,"className":""},{"id":"39fb310f1cc7167b","type":"ui_tab","name":"Proyecto KAJ","icon":"dashboard","order":1,"disabled":false,"hidden":false}]